.card-wrapper {
  display: flex;
  flex-direction: column;

  gap: 20px;
  background-color: white;
  border-radius: 10px;

  max-width: 300px;
}

.card-title {
  display: flex;
  align-items: center;

  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  height: 50px;

  padding-left: 20px;
  padding-right: 20px;

  font-size: 20px;

  color: white;
}

.card-content {
  padding-left: 20px;
  padding-right: 20px;

  word-break: break-all;
}

.card-button-wrapper {
  display: flex;
  flex-direction: row;

  gap: 10px;
  padding: 20px;
}
